*.aux
*.bbl
*.tex~
*.bib~
*.log
*.tex#
*.pdf
*.aux
GenEqOp.log
*.pdf
*.toc
*.aux
GenEqOp.log
*.pdf
GenEqOp.toc
GenEqOp.aux
GenEqOp.pdf
*.aux
GenEqOp.log
*.toc
GenEqOp.aux
GenEqOp.aux
GenEqOp.aux
GenEqOp.pdf
GenEqOp.synctex.gz
